@font-face {
	font-family: "Roboto";
	src: url("../fonts/Roboto/roboto-regular.woff") format("woff");
	src: url("../fonts/Roboto/roboto-regular.woff") format("woff2");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/raleway-regular.woff") format("woff");
	src: url("../fonts/Raleway/raleway-regular.woff") format("woff2");
	font-weight: normal;
	font-style: normal;
}