* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: top;
}

input{
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

.page {
  background-color: #F0F1F4;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}