//backgrounds
$body-bg: #fff;
$bg-header: #000;



//fonts
$basic-family: 'Roboto', sans-serif;
$primary-family: 'Raleway', sans-serif;


// colors
$primary-color: #FFE500;
$secondary-color: #161616;
$white: #ffffff;
$black: #000000;